.enterList { // 輸入列表
  & li .btn {
    font-size: 14px;
    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
  }
  // 3~5,7~10,13~15,18~20
  & li:nth-child(n+3):nth-child(-n+5) a,
    li:nth-child(n+8):nth-child(-n+10) a,
    li:nth-child(n+13):nth-child(-n+15) a,
    li:nth-child(n+18):nth-child(-n+20) a{
    background: #E6E6E6;
    color: #4C546A;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: all .4s ease;
    &:hover {
      background-color: #DEDEDE;
    }
  }
  & li:nth-of-type(1) a{
    background-color: #DE6868;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: all .4s ease;
    &:hover {
      background-color: #EC7A7A;
    }
  }
  & li:nth-of-type(2) a {
    background-color: #5274CD;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: all .4s ease;
    &:hover {
      background-color: #6787DB;
    }
  }
  & li:nth-of-type(6) a {
    background-color: #B39076;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: all .4s ease;
    &:hover {
      background-color: #C9A58C;
    }
  }
  & li:nth-of-type(7) a {
    background-color: #83C986;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: all .4s ease;
    &:hover {
      background-color:  #91D994;
    }
  }
  & li:nth-of-type(11) a {
    background-color: #EDBE62;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: all .4s ease;
    &:hover {
      background-color: #EDC984;
    }
  }
  & li:nth-of-type(12) a {
    background-color: #E88C59;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: all .4s ease;
    &:hover {
      background-color: #F2A478;
    }
  }
  & li:nth-of-type(16) a {
    outline: 1px solid #8B94B2;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: all .4s ease;
    &:hover {
      background-color: #BCC3D9;
      color: #fff;
    }
  }
  & li:nth-of-type(17) a {
    background-color: #B1B4BE;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: all .4s ease;
    &:hover {
      background-color: #BCC1D1;
    }
  }
}
.enterList-wrap { 
  // 輸入列表的外容器，手機模式可以經由downUpBtn，上下打開輸入列表
  position: absolute;
  bottom: 0;
  transition: all .5s ease-in-out;
  transform: translateY(90%);
  &.open {
    transform: translateY(0%);
  }
  @include media-breakpoint-up(sm) {
    transform: translateY(0%);
    position: static;
  }
}
.searchResult {
  position: relative;
  & ::-webkit-scrollbar {
    background-color: #fff;
    width: 3px;
  }
  & ::-webkit-scrollbar-thumb   {
    border-radius: 10px; 
    background-color: $primary;
  }
  // 平板以上高度491px ，以下100vh-navbar
  height: 60vh;
  @include media-breakpoint-up(md) {
    height: 40vh;
  }
  @include media-breakpoint-up(xl) {
    height: 60vh;
  }
  &-main {
    overflow-y: auto;
    & li {
      border: 1px solid rgba(238, 238, 238, 0.5)
    }
    & li h3 {
      color: #F66A4B;
      font-size: 20px;
    }
    & li p {
      font-size: 12px;
    }
  }
}