.downUpBtn{ // 上下拉開數字鍵盤
  position: absolute;
  top: 2%;
  left: 50%;
  transition: all .6s ease;
  transform: translateX(-50%) rotate(180deg);
  &.open {
    transform: translateX(-50%) rotate(0deg);
  }
}
.btnOptiinal {
  border-radius: 100px;
  &:hover {
    outline: 1px solid #fff;
  }
}
// 車種icon EX:無障礙
.busOptional {
  border-radius: 100px;
  border: 1px solid $secondary;
}